@import '@angular/material/prebuilt-themes/indigo-pink.css';



/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.page-title {
  margin: 0 0 15px 0;
  font-size: 1.8rem;
  font-weight: 600;
}

.list-card {
  width: 100%;
  padding: 16px;
}

.table-container {
  overflow: auto;
  max-height: calc(100vh - 250px);
}


.actions-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 8px 0;
}

.right-actions {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

:root {
  --primary: #5db69d;
  --accent: #4aa58d;

  --toolbar-bg: #5db69d;
  --toolbar-text: #ffffff;
  --toolbar-height: 64px;
}

.mat-mdc-raised-button {
  background-color: var(--primary) !important;
}

.mat-toolbar {
  background-color: var(--toolbar-bg) !important;
  color: var(--toolbar-text) !important;
  height: var(--toolbar-height);
  padding: 0 24px;
  display: flex;
  align-items: center;
}
